#container{
	width: 960px;
}
.green{
	color: green;
}
#footer{
	color:white;
	background-image: url(images/background.jpg);
	background-repeat: repeat-x;
	height: 40px;
	background-color: #090;

}

#top_banner{
	background-image: url(images/banner2.jpg);
	max-height: 130px;

}

#floatit{
	float: right ;
}